NODE_ENV=development

PORT=3333

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

EMAIL_VERIFICATION_EXPIRES_IN_HOURS=24
MAX_LOGIN_ATTEMPTS=5
ACCOUNT_LOCK_DURATION_MINUTES=30
ACCOUNT_DELETION_GRACE_PERIOD_DAYS=90

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# SMTP
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
APP_URL=http://localhost:3000
